* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

:root {
    --main: #264653;
}

.navLinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navLinks li {
    float: left;
}

.navLinks li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}