.ticket-form {
    margin: auto;
    width: 75%;
    background-color: white;
    padding: 10px;
}

.form-label {
    width: 100%;
    background-color: white;
}

.form-input {
    border-radius: 5px;
    background-color: white;
    padding: 15px 20px;
    width: 100%;
    border: 1px solid black;
}

.priority-input {
    margin-left: 0.75rem;
}

.form-submit {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--main);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
}

#customer_info {
    display: flex;
} 

#customer_name, #customer_contact {
    width:50%;
    margin-left: 5px;
    margin-right: 5px;
}