.dashboard-page {
    width: 100%;
}

.title {
  background-color: white;
}

.panels > div {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

.panels {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 225px auto auto;
    grid-template-rows: auto auto;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.panel-techList {
    grid-row: span 2;
}

.panel-techList h3 {
  text-align: center;
}

.panel-techList ul li {
  padding: 0.5rem;
  list-style-type: none;
  background-color: #2a9d8f;
  margin: 5px;
  border-radius: 5px;
  color: white;
}

.panel-techList ul li:hover {
  background-color: #e9c46a;
  color: black;
}

.panel-openTickets {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

#open_ticket_list {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
}

#open_ticket_list th {
  background-color: var(--main);
  color: white;
}

#open_ticket_list, td, th {
  border: 1px solid black;
}

#open_ticket_list tr:hover {
  background-color: #f2f2f2;
}

#createTechnician {
  margin: 0 auto;
  display: block;
  padding: 10px;
  background-color: royalblue;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#createTechnician:hover {
  background-color: darkblue;
}

th, td {
  padding: 8px;
}

td {
  text-align: center;
}

.panel-tickets {
    grid-column: span 2;
}

.panel-ticketsByTechnician div {
  margin: auto;
}

#technicianLink {
  text-decoration: none;
  color: white;
}

@media (max-width: 750px) {
    .panels {
      grid-template-columns: 225px auto;
      grid-template-rows: auto auto auto;
    }
    .panel-tickets {
      grid-column: span 2;
    }
  }
  
  @media (max-width: 500px) {
    .panels {
      grid-template-columns: auto;
    }
    .panel-tickets {
      grid-column: span 1;
    }
  }

  @media (max-width: 490px) {
    .navbar-start {
      display: grid;
    }
  }