.ticketList-page {
    height: 100vh;
}

.title {
    margin-top: 15px;
    text-align: center;
}

.ticket-list {
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    background-color: white;
}

.ticket-list th {
    background-color: var(--main);
    color: white;
}

.ticket-list, td, th {
    border: 1px solid black;
}

.ticket-list tr:hover {
    background-color: #f2f2f2;
}

th, td {
    padding: 8px;
}

td {
    text-align: center;
}

.Low {
    background-color: lightgreen;
}

.Medium {
    color: white;
    background-color: #ff8000;
}

.High {
    color: white;
    background-color: red;
}

.Urgent {
    color: white;
    background-color: rebeccapurple;
}

.text-truncate {
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    max-width: 1px;
}

.edit_delete_buttons button {
    margin: 5px;
    padding: 0.2rem;
}